#pawn-e2 {
  animation: white-1st-move 1s linear 2s 1 normal forwards,
    reset-pawn-e2 0.5s linear 23s 1 normal forwards;
}

#pawn-e7 {
  animation: black-1st-move 1s linear 4s 1 normal forwards,
    reset-pawn-e7 0.5s linear 23s 1 normal forwards;
}

#bishop-f1 {
  animation: white-2nd-move 1.5s linear 6s 1 normal forwards,
    reset-bishop-f1 0.5s linear 23s 1 normal forwards;
}

#knight-b8 {
  animation: black-2nd-move 1s linear 8.5s 1 normal forwards,
    reset-knight-b8 0.5s linear 23s 1 normal forwards;
}

#queen-d1 {
  animation: white-3rd-move 2s linear 10.5s 1 normal forwards,
    white-4th-move 1s linear 16.5s 1 normal forwards,
    reset-queen-d1 0.5s linear 23s 1 normal forwards;
}

#bishop-f8 {
  animation: black-3rd-move 2s linear 13.5s 1 normal forwards,
    reset-bishop-f8 0.5s linear 23s 1 normal forwards;
}

#pawn-f7 {
  animation: taken 0.5s linear 17s 1 normal forwards,
    reset-pawn-f7 0.5s linear 23s 1 normal forwards;
}

#king-e8 {
  animation: pulse 0.5s linear 18s 10 alternate forwards,
    reset-king-e8 0.2s linear 23s 1 normal forwards;
}

@keyframes taken {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    color: #990000;
  }

  to {
    color: #ff6666;
  }
}

@keyframes white-1st-move {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20vmin);
  }
}

@keyframes black-1st-move {
  from {
    position: relative;
    top: 0vmin;
  }

  to {
    position: relative;
    top: 20vmin;
  }
}

@keyframes white-2nd-move {
  from {
    position: relative;
    bottom: 0vmin;
    right: 0vmin;
  }

  to {
    position: relative;
    bottom: 30vmin;
    right: 30vmin;
  }
}

@keyframes black-2nd-move {
  from {
    position: relative;
    top: 0vmin;
    left: 0vmin;
  }

  to {
    position: relative;
    top: 20vmin;
    left: 10vmin;
  }
}

@keyframes white-3rd-move {
  from {
    position: relative;
    bottom: 0vmin;
    left: 0vmin;
  }

  to {
    position: relative;
    bottom: 40vmin;
    left: 40vmin;
  }
}

@keyframes black-3rd-move {
  from {
    position: relative;
    top: 0vmin;
    right: 0vmin;
  }

  to {
    position: relative;
    top: 40vmin;
    right: 40vmin;
  }
}

@keyframes white-4th-move {
  from {
    position: relative;
    bottom: 40vmin;
    left: 40vmin;
  }

  to {
    position: relative;
    bottom: 60vmin;
    left: 20vmin;
  }
}

@keyframes reset-knight-b8 {
  from {
    position: relative;
    top: 20vmin;
    left: 10vmin;
  }

  to {
    position: relative;
    top: 0vmin;
    left: 0vmin;
  }
}

@keyframes reset-king-e8 {
  from {
    color: #990000;
  }

  to {
    color: #000000;
  }
}

@keyframes reset-bishop-f8 {
  from {
    position: relative;
    top: 40vmin;
    right: 40vmin;
  }

  to {
    position: relative;
    top: 0vmin;
    right: 0vmin;
  }
}

@keyframes reset-pawn-e7 {
  from {
    position: relative;
    top: 20vmin;
  }

  to {
    position: relative;
    top: 0vmin;
  }
}

@keyframes reset-pawn-f7 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes reset-pawn-e2 {
  from {
    transform: translateY(-20vmin);
  }

  to {
    transform: translateY(0vmin);
  }
}

@keyframes reset-queen-d1 {
  from {
    position: relative;
    bottom: 60vmin;
    left: 20vmin;
  }

  to {
    position: relative;
    bottom: 0vmin;
    left: 0vmin;
  }
}

@keyframes reset-bishop-f1 {
  from {
    position: relative;
    bottom: 40vmin;
    right: 40vmin;
  }

  to {
    position: relative;
    bottom: 0vmin;
    right: 0vmin;
  }
}
