@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  user-select: none;
  font-size: 3vmin;
  text-align: center;
}

header > h1 {
  font-size: 5vmin;
  font-family: "Montserrat", sans-serif;
}

body .background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/chess.jpg);
}

%grid-centered {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.grid-main {
  @extend %grid-centered;
  margin: 1vmin auto;
  width: 88vmin;
  grid-template-rows: 4vmin 80vmin 4vmin;
  grid-template-columns: 4vmin 80vmin 4vmin;
  background-color: #000000;
  border-radius: 1.5vmin;
}

.center {
  @extend %grid-centered;
  grid-template-rows: repeat(8, 10vmin);
  grid-template-columns: repeat(8, 10vmin);
  grid-auto-flow: row;
  grid-row: 2/3;
  grid-column: 2/3;
}

.box {
  z-index: 0;
  place-self: stretch;
}

.white-box {
  background-color: #bfbfbf;
}

.black-box {
  background-color: #404040;
}

.top,
.bottom {
  @extend %grid-centered;
  grid-template-rows: 4vmin;
  grid-template-columns: repeat(8, 10vmin);
  grid-auto-flow: row;
  color: #ffffff;
}

.left,
.right {
  @extend %grid-centered;
  grid-template-rows: repeat(8, 10vmin);
  grid-template-columns: 4vmin;
  grid-auto-flow: column;
  color: #ffffff;
}

.top {
  grid-row: 1/2;
  grid-column: 2/3;
}

.left {
  grid-row: 2/3;
  grid-column: 1/2;
}

.right {
  grid-row: 2/3;
  grid-column: 3/4;
}

.bottom {
  grid-row: 3/4;
  grid-column: 2/3;
}

.black-piece,
.white-piece {
  font-size: 7vmin;
  z-index: 1;
}

.black-piece {
  color: #000000;
}

.white-piece {
  color: #ffffff;
}
