#e2 {
  -webkit-animation: move1st 1s linear 2s 1 normal forwards;
          animation: move1st 1s linear 2s 1 normal forwards;
}

#e7 {
  -webkit-animation: move2nd 1s linear 4s 1 normal forwards;
          animation: move2nd 1s linear 4s 1 normal forwards;
}

#f1 {
  -webkit-animation: move3rd 1.5s linear 6s 1 normal forwards;
          animation: move3rd 1.5s linear 6s 1 normal forwards;
}

#b8 {
  -webkit-animation: move4th 1s linear 8.5s 1 normal forwards;
          animation: move4th 1s linear 8.5s 1 normal forwards;
}

#d1 {
  -webkit-animation-name: move5th, checkmate;
          animation-name: move5th, checkmate;
  -webkit-animation-duration: 2s, 1s;
          animation-duration: 2s, 1s;
  -webkit-animation-timing-function: linear, linear;
          animation-timing-function: linear, linear;
  -webkit-animation-delay: 10.5s, 16.5s;
          animation-delay: 10.5s, 16.5s;
  -webkit-animation-direction: normal, normal;
          animation-direction: normal, normal;
  -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
  -webkit-animation-fill-mode: forwards, forwards;
          animation-fill-mode: forwards, forwards;
}

#f8 {
  -webkit-animation: move6th 2s linear 13.5s 1 normal forwards;
          animation: move6th 2s linear 13.5s 1 normal forwards;
}

#f7 {
  -webkit-animation: taken 0.5s linear 17s 1 normal forwards;
          animation: taken 0.5s linear 17s 1 normal forwards;
}

#e8 {
  -webkit-animation: pulse 0.5s linear 18s infinite alternate forwards;
          animation: pulse 0.5s linear 18s infinite alternate forwards;
}

@-webkit-keyframes taken {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes taken {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  from {
    color: #990000;
  }
  to {
    color: #ff6666;
  }
}
@keyframes pulse {
  from {
    color: #990000;
  }
  to {
    color: #ff6666;
  }
}
@-webkit-keyframes move1st {
  from {
    position: relative;
    bottom: 0vmin;
  }
  to {
    position: relative;
    bottom: 20vmin;
  }
}
@keyframes move1st {
  from {
    position: relative;
    bottom: 0vmin;
  }
  to {
    position: relative;
    bottom: 20vmin;
  }
}
@-webkit-keyframes move2nd {
  from {
    position: relative;
    top: 0vmin;
  }
  to {
    position: relative;
    top: 20vmin;
  }
}
@keyframes move2nd {
  from {
    position: relative;
    top: 0vmin;
  }
  to {
    position: relative;
    top: 20vmin;
  }
}
@-webkit-keyframes move3rd {
  from {
    position: relative;
    bottom: 0vmin;
    right: 0vmin;
  }
  to {
    position: relative;
    bottom: 30vmin;
    right: 30vmin;
  }
}
@keyframes move3rd {
  from {
    position: relative;
    bottom: 0vmin;
    right: 0vmin;
  }
  to {
    position: relative;
    bottom: 30vmin;
    right: 30vmin;
  }
}
@-webkit-keyframes move4th {
  from {
    position: relative;
    top: 0vmin;
    left: 0vmin;
  }
  to {
    position: relative;
    top: 20vmin;
    left: 10vmin;
  }
}
@keyframes move4th {
  from {
    position: relative;
    top: 0vmin;
    left: 0vmin;
  }
  to {
    position: relative;
    top: 20vmin;
    left: 10vmin;
  }
}
@-webkit-keyframes move5th {
  from {
    position: relative;
    bottom: 0vmin;
    left: 0vmin;
  }
  to {
    position: relative;
    bottom: 40vmin;
    left: 40vmin;
  }
}
@keyframes move5th {
  from {
    position: relative;
    bottom: 0vmin;
    left: 0vmin;
  }
  to {
    position: relative;
    bottom: 40vmin;
    left: 40vmin;
  }
}
@-webkit-keyframes move6th {
  from {
    position: relative;
    top: 0vmin;
    right: 0vmin;
  }
  to {
    position: relative;
    top: 40vmin;
    right: 40vmin;
  }
}
@keyframes move6th {
  from {
    position: relative;
    top: 0vmin;
    right: 0vmin;
  }
  to {
    position: relative;
    top: 40vmin;
    right: 40vmin;
  }
}
@-webkit-keyframes checkmate {
  from {
    position: relative;
    bottom: 40vmin;
    left: 40vmin;
  }
  to {
    position: relative;
    bottom: 60vmin;
    left: 20vmin;
  }
}
@keyframes checkmate {
  from {
    position: relative;
    bottom: 40vmin;
    left: 40vmin;
  }
  to {
    position: relative;
    bottom: 60vmin;
    left: 20vmin;
  }
}/*# sourceMappingURL=animations.css.map */